// COLORS
$black: #000;
$white: #fff;

$first: #E7CF60;
$second: #50B3D7;
$third: #EC3B53;
$fourth: #76BD6B;
$fifth: #EF7D31;
$sixth: #767676;

$background: #232323;

// BOOSTRAP OVERWRIGHT
$font-family-sans-serif: 'Droid Sans Mono', monospace;
$primary: red;

